<body>
	<div id="container">
	<div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">

  <!-- 何枚目かの画像かを表すインディケーター -->
  <ol class="carousel-indicators">
    <li data-target="#test-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#test-carousel" data-slide-to="1" class=""></li>
    <li data-target="#test-carousel" data-slide-to="2" class=""></li>
    <li data-target="#test-carousel" data-slide-to="3" class=""></li>
  </ol>

  <!-- 実際の画像の表示処理 -->
  <div class="carousel-inner" style="margin: 5px 0px 0px 216px;">
  	<span class="item active">    <!-- activeをつけたものがページ表示時に表示される -->	
	    <span1>
	    	<%= image_tag 'test1.jpeg', :size =>'1008x470' %>
	    </span1>
	</span>
	<span class="item">
	    <span1>
	      	<%= image_tag 'test2.jpg', :size =>'1008x470' %>
	    </span1>
	</span>
	<span class="item">
	      <span1>
	      	<%= image_tag 'test3.jpg', :size =>'1008x470' %>
	      </span1>
	</span>
	<span class="item">
	      <span1>
	      	<%= image_tag 'test4.jpg', :size =>'1008x470' %>
	      </span1>
	</span>
  </div>

  <!-- 前の画像へ戻るための矢印ポインタ -->
  <a class="left carousel-control" href="#test-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <!-- 次の画像へ進むための矢印ポインタ -->
  <a class="right carousel-control" href="#test-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
    <div class="container">
	    <div class="row">
	    	<br></br>
	    	<h1 style="margin-left: 350px">商品一覧</h1>
	    	<div class="col-md-9">
	    		<div class="row">
			    	<% @products.each do |product| %>
					    <div class="col-md-4" style="margin-bottom:30px">
					    	<%= link_to product_path(product.id) do %>
							    <table>
								    <thead>
								    	<tr>
								    		<%= attachment_image_tag product, :image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
								    		<td>アーティスト名</td>
								    		<td>
								    			<%= product.artists %>
								    		</td>
								    	</tr>

								    	<tr>
								    		<td>シングル/アルバム名</td>
								    		<td>
								   				<%= product.cd_title %>
								    		</td>
								   		</tr>

						   				<tr>
						   					<td>値段</td>
						   					<td>
						   						<%= product.price %>円
						  					</td>
						  				</tr>

					    				<tr>
						   					<td>在庫ステータス</td>
											<td>
								   				<% product.stock %>
												<p>
												<% if product.stock == 0 then %>
												<p>売り切れ</p>
												<% else %>
												<p><%= product.stock %>個有り</p>
												<% end %>
												</p>
								   			</td>
								   		</tr>
								    </thead>
							    </table>
							<% end %>
							<!-- <p> -->
							   	<%#= form_for [product, @select], url: selects_path do |f| %>
									<%#= f.hidden_field :product_id, :value => product.id %>
									<%#= f.fields_for :discs do |disc| %>
										<%#= disc.number_field :value, min:0, max:100, :size => "4*4" %>
											<!-- 枚 -->
									<%# end %>
									<!-- <span class="btn btn-default">
											<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
									</span> -->
								<%# end %>
							<!-- </p> -->
					    </div>
				    <% end %>
				</div>
			</div>
			<div class="col-md-2">
				<%= render 'public/products/side'%>
			</div>
		</div>
	</div>
	<%= paginate @products, class: "paginate" %>
</body>

