

	<div id="container">
	<div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">

  <!-- 何枚目かの画像かを表すインディケーター -->
  <ol class="carousel-indicators">
    <li data-target="#test-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#test-carousel" data-slide-to="1" class=""></li>
    <li data-target="#test-carousel" data-slide-to="2" class=""></li>
    <li data-target="#test-carousel" data-slide-to="3" class=""></li>
  </ol>

  <!-- 実際の画像の表示処理 -->
  <div class="carousel-inner">
  	<span class="item active">    <!-- activeをつけたものがページ表示時に表示される -->
	    <span1>
	    	<%= image_tag 'fs1.jpeg', :size =>'1008x470' %>
	    </span1>
	</span>
	<span class="item">
	    <span1>
	      	<%= image_tag 'fs2.jpg', :size =>'1008x470' %>
	    </span1>
	</span>
	<span class="item">
	      <span1>
	      	<%= image_tag 'fs3.jpg', :size =>'1008x470' %>
	      </span1>
	</span>
	<span class="item">
	      <span1>
	      	<%= image_tag 'fs4.jpg', :size =>'1008x470' %>
	      </span1>
	</span>
  </div>

  <!-- 前の画像へ戻るための矢印ポインタ -->
    <div class="left">
		<a class="left carousel-control" href="#test-carousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
    </div>

  <!-- 次の画像へ進むための矢印ポインタ -->
  	<div class="right">
        <a class="right carousel-control" href="#test-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
<div class="index">
    <div class="container">
	    <div class="row">
	    	<p class="record">👑ー ー ー Record ー ー ー👑</p>
	    	<div class="col-md-9">
	    		<div class="row">
			    	<% @products.each do |product| %>
					    <div class="col-md-4">
					    	<%= link_to product_path(product.id) do %>
							    <table class="table">
							    	<thead></thead>
								    <tbody class="tbody">
								    	<tr>
								    		<%= attachment_image_tag product, :image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
								    		<td>アーティスト名</td>
								    		<td>
								    			<%= product.artists %>
								    		</td>
								    	</tr>

								    	<tr>
								    		<td>シングル/アルバム名</td>
								    		<td>
								   				<%= product.cd_title %>
								    		</td>
								   		</tr>

						   				<tr>
						   					<td>値段</td>
						   					<td>
						   						<%= product.price %>円
						  					</td>
						  				</tr>

					    				<tr>
						   					<td>在庫数</td>
											<td>
								   				<% product.stock %>
												<p>
												<% if product.stock == 0 then %>
												<p><%= 売り切れ %></p>
												<% else %>
												<p><%= product.stock %>個有り</p>
												<% end %>
												</p>
								   			</td>
								   		</tr>
								    </tbody>
							    </table>
							<% end %>
					    </div>
				    <% end %>
				</div>
			</div>
			<div class="col-md-2">
				<h2>世界の天気</h2>
				<label> 都市名: </label>
				<input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
				<button id="btn"><p class="kensaku">検索</p></button><br>
				<span>場所 :</span>
				<span id="place"></span><br>
				<span>最高気温 :</span>
				<span id="temp_max"></span>
				<span> ℃</span><br>
				<span>最低気温 :</span>
				<span id="temp_min"></span>
				<span> ℃</span><br>
				<span>湿度 :</span>
				<span id="humidity"></span>
				<span> %</span><br>
				<span>風速 :</span>
				<span id="speed"></span>
				<span> m/s</span><br>
				<span>天気 :</span>
				<span id="weather"></span>
				<div id="icon"><img id="img"></div>
			</div>
		</div>
	</div>
	<%= paginate @products, class: "paginate" %>
</div>


