
<div class="container">
    <h2>商品詳細</h2>
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", :size => '200x200' %>
        </div>

        <div class="col-md-4">
            <table class="table">
	            <tbody>
	           	    <tr>
		           	    <td>シングル/アルバム名</td>
		           	    <td><%= @product.cd_title %></td>
		            </tr>
		            <tr>
			            <td>アーティスト名</td>
			            <td><%= @product.artists %></td>
		            </tr>
		            <tr>
			            <td>レーベル名</td>
			            <td><%= @product.label %></td>
		            </tr>
		            <tr>
			            <td>在庫数</td>
			            <td>
			            	<% stock = @product.stock %>
								<% if stock == 0 then %>
								<p>売り切れ</p>
								<% else %>
								<p><%= stock %>個有り</p>
							<% end %>
						</td>
		            </tr>
		            <tr>
			            <td>ジャンル</td>
			            <td><%= @product.genre %></td>
		            </tr>
		            <tr>
			            <td>値段</td>
			            <td><%= @product.price %></td>
		            </tr>
	            </tbody>
            </table>
				<%= form_for @select, :url => { :controller => :selects, :action => :create } do |f| %>
					<%= f.hidden_field :product_id, :value => @product.id %>
					<%= f.hidden_field :log_price, :value => @product.price %>
						<%= f.number_field :quantity, min:0, max:100, :size => "5*5" %>
						            <span class="glyphicon glyphicon-shopping-cart aria-hidden="truet"><%= f.submit "カートに入れる", class: "btn btn-info"  %>
					</span>
				<% end %>
        </div>
        <!-- <div class="col-md-4"> -->
            <h4>シングル/アルバム内の曲名</h4>
            <% @product.discs.each do |disc| %>
                <%= disc.disc_num %>
            <% disc.songs.each do |song| %>
                <%= song.song_track %>
                <%= song.song_title %>
            <% end %>
            <% end %>
            <%= @product.status %>
        </div>
		<label><%= link_to "商品一覧に戻る", products_path, class: "btn btn-default" %></label>