
<div class="container">
    <h2>商品詳細</h2>
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", :size => '200x200' %>
        </div>

        <div class="col-md-4">
            <table class="table">
	            <tbody>
	           	    <tr>
		           	    <td>シングル/アルバム名</td>
		           	    <td><%= @product.cd_title %></td>
		            </tr>
		            <tr>
			            <td>アーティスト名</td>
			            <td><%= @product.artists %></td>
		            </tr>
		            <tr>
			            <td>レーベル名</td>
			            <td><%= @product.label %></td>
		            </tr>
		            <tr>
			            <td>在庫数</td>
			            <td><%= @product.stock %></td>
		            </tr>
		            <tr>
			            <td>ジャンル</td>
			            <td><%= @product.genre %></td>
		            </tr>
		            <tr>
			            <td>値段</td>
			            <td><%= @product.price %></td>
		            </tr>
	            </tbody>
            </table>
            <span>
				<%= form_for [@products, @select], url: selects_path do |f| %>
					<%= f.hidden_field :@product_id, :value => @product.id %>
					<%= f.fields_for :selects do |select| %>
						<%= select.number_field :value_plan, min:0, max:100, :size => "5*5" %>
					<% end %>
					<span class="btn btn-default">
						<%= link_to carts_path, class: 'fbtn' do %>
							<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
						<% end %>
					</span>
				<% end %>
			</span>
        </div>

        <!-- <div class="col-md-4"> -->
            <h4>シングル/アルバム内の曲名</h4>
            <% @product.discs.each do |disc| %>
                <%= disc.disc_num %>
            <% disc.songs.each do |song| %>
                <%= song.song_title %>
            <% end %>
            <% end %>
            <%= @product.status %>
        </div>
