
<div class="container">
    <h2>商品詳細</h2>
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", :size => '200x200' %>
        </div>

        <div class="col-md-4">
            <table class="table">
	            <tbody>
	           	    <tr>
		           	    <td>シングル/アルバム名</td>
		           	    <td><%= @product.cd_title %></td>
		            </tr>
		            <tr>
			            <td>アーティスト名</td>
			            <td><%= @product.artists %></td>
		            </tr>
		            <tr>
			            <td>レーベル名</td>
			            <td><%= @product.label %></td>
		            </tr>
		            <tr>
			            <td>在庫数</td>
			            <td>
			            	<% stock = @product.stock %>
								<% if stock == 0 then %>
								<p>売り切れ</p>
								<% else %>
								<p><%= stock %>個有り</p>
							<% end %>
						</td>
		            </tr>
		            <tr>
			            <td>ジャンル</td>
			            <td><%= @product.genre %></td>
		            </tr>
		            <tr>
			            <td>値段</td>
			            <td><%= @product.price %></td>
		            </tr>
	            </tbody>
            </table>
            <span>
            	<% if current_user %>
				<%= form_for @select, :url => { :controller => :selects, :action => :create } do |f| %>
					<%= f.hidden_field :product_id, :value => @product.id %>
					<%= f.hidden_field :log_price, :value => @product.price %>
					<%= f.number_field :quantity, min:0, max:100, :size => "5*5" %>
					<%= f.submit do %>
						<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
					<% end %>
				<% end %>
				<% else %>
					<h2>ログインまたは新規会員登録後、カートへの追加が可能です。</h2>
						<div class="btn-wrapper">
					        <span class="row">
					            <p class="btn btn-info col-xs-10 col-xs-offset-1">
					                <%= link_to "Login", new_user_session_path, class: "sign_in" %>
					            </p>
					        </span>
					        <span class="row">
					            <p class="btn btn-info col-xs-10 col-xs-offset-1">
					            	<%= link_to "Sign up", new_user_registration_path, class: "sign_up" %>
					            </p>
					        </span>
					    </div>
				<% end %>
			</span>
        </div>

        <!-- <div class="col-md-4"> -->
            <h4>シングル/アルバム内の曲名</h4>
            <% @product.discs.each do |disc| %>
                <%= disc.disc_num %>
            <% disc.songs.each do |song| %>
                <%= song.song_track %>
                <%= song.song_title %>
            <% end %>
            <% end %>
            <%= @product.status %>
        </div>
