<div class="container">
    <div class="row">
        <h2>配送先の追加</h2>
        <%= form_for @add_address, :url => { :controller => :addresses, :action => :create } do |add| %>
            <div class="col-md-6">
                <div class="form-group">
                    <label>名前(姓)</label><br>
                    <%= add.text_field :add_last_name %>
                    <br>
                    <label>名前(セイ)</label><br>
                    <%= add.text_field :add_last_name_kana %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>名前(名)</label><br>
                    <%= add.text_field :add_first_name %>
                    <br>
                    <label>名前(メイ)</label><br>
                    <%= add.text_field :add_first_name_kana %>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <div class="form-group">
                <label>郵便番号</label><br>
                <%= add.text_field :add_zip %>
            </div>
            <div class="form-group">
                <label>住所</label><br>
                <%= add.text_field :add_address %>
            </div>

            <div class="form-group">
                <label>電話番号</label><br>
                <%= add.text_field :add_phone %>
            </div>
        </div>
    </div>
    <%= add.submit "追加する", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "戻る", user_path(current_user), class: "btn btn-warning" %>
</div>

