<h2>カートの中身</h2>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<% @cart.selects.each do |select| %>
				<div class="col-md-4">

					<%= attachment_image_tag select.product, :image, format: 'jpeg', fallback: "no_image.jpg", :size => '200x200' %></br>

					<label>商品名</label>
					<%= select.product.cd_title %></br>
					<sapm>アーティスト名</spam>
						<%= select.product.artists %></br>
						<label>値段</label>
						<%= select.log_price %>
						<sapm>円</spam>
							<%= select.product.status %></br>
							<label>購入数：</label>
							<%= select.quantity %></br>
							<label>購入数の変更</label></br>
							<%= form_for(select, url: select_path(select.id), html: {method: "patch"}) do |f| %>
							<%= f.number_field :quantity, min:1, max:100 %>
							<%= f.submit "購入数を変更する", class: "btn" %>
							<% end %>

							<%= link_to "カートから削除", select_path(select), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
						</div>
						<% end %>
					</div>
					<label></label></br>
					<label><%= link_to "商品一覧に戻る", products_path, class: "btn btn-default" %></label>
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
	<h3>配送先の選択</h3>
	<h4>アカウント登録時の住所へ配送を希望する場合</h4>
	<%= link_to "購入確認画面へ", check_cart_path(@cart.id), class: "btn btn-default" %>

	<h4>追加登録した住所へ配送を希望する場合</h4>

	<% @user.addresses.each_with_index do |address,i| %>

		    <div class="col-md-4">
	<h4><%= "配送先" + "#{i+1}" %></h4>
	<ul>
		<li>カナ <%= address.add_last_name_kana %><%= address.add_first_name_kana %></li>
		<li>名前 <%= address.add_last_name %><%= address.add_first_name %></li>
		<li>〒 <%= address.add_zip %></li>
		<li>住所 <%= address.add_address %></li>
		<li>電話番号 <%= address.add_phone %></li>
	</ul>
	<%= link_to "追加配送先の編集", edit_user_address_path(@user.id,address), class: "btn btn-default" %>
	<%= link_to "削除", user_address_path(@user.id,address), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
		    </div>
	<% end %>
		</div>
	</div>
</div>