<h2>カートの中身</h2>

<% @cart.selects.each do |select| %>


<%= attachment_image_tag select.product, :image, format: 'jpeg', fallback: "no_image.jpg", :size => '200x200' %>

<table>
    <tbody>
	    <tr>
		    <td>商品名</td>
		    <td><%= select.product.cd_title %></td>
	    </tr>
	    <tr>
	    	<td>アーティスト名</td>
	    	<td><%= select.product.artists %></td>
	    </tr>
	</tbody>
</table>


<label>値段</label>
<%= select.log_price %>

<%= select.product.status %>

<input type="number">

<%#= link_to "削除", cart_path(@cart.id), method: :delete, class: 'btn btn-default' do %>
<%# end %>

<% end %>


<span>別の宛先で配送希望の場合</span>


