<div class="container">
    <div class="row">
        <h2>曲編集</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Disc：</label>
                        <%= @disc.disc_num %>
                        <% @disc.songs.each do |song| %>
                        <%= form_for song, :url => { :controller => :discs, :action => :update } do |f| %>
                    <%= f.hidden_field :song_id, :value => song.id %>
                        <label>曲順</label><br>
                        <%= f.number_field :song_track, min:0, max:100 %>
                        <br>
                        <label>曲のタイトル</label><br>
                        <%= f.text_field :song_title %>
            <%= f.submit "変更を保存する", class: "btn btn-default" %>
            <% end %>
                <%= link_to "削除する", admin_product_disc_song_path(@product.id, @disc.id, song), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            <% end %>
                    </div>
                </div>
            </div>
            <%= link_to "戻る", admin_product_path(@product.id), class: "btn btn-default" %>
        </div>
    </div>
</div>