<body>
<div class="container">
    <div class="row">
    	<h1>main</h1>
    	<div class="col-md-12">
    		<div class="row">
    			<% @products.each do |products| %>
    				<%= link_to admin_product_path(products.id) do %>
		    			<div class="col-md-4" style="margin-bottom:30px">
				    		<table>
				    			<thead>
				    				<tr>
				    					<%= attachment_image_tag products, :image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>
				    					<td>アーティスト名</td>
				    					<td>
				    					<%= products.artists %>
				    					</td>
				    				</tr>

				    				<tr>
				    					<td>シングル/アルバム名</td>
				    					<td>
				    					<%= products.cd_title %>
				    					</td>
				    				</tr>

				    				<tr>
				    					<td>値段</td>
				    					<td>
				    						<%= products.price%>円
				    					</td>
				    				</tr>

				    				<tr>
				    					<td>在庫数</td>
				    					<td>
												<% stock = products.stock %>
												<% if stock == 0 then %>
												<p>売り切れ</p>
												<% else %>
												<p><%= stock %>個有り</p>
												<% end %>
				    					</td>
				    				</tr>
				    			</thead>
				    		</table>
				    	</div>
				    <% end %>
			    <% end %>
			</div>
		</div>
	</div>
	<div class="btn-wrapper">
		<p class="col-md-4"></p>
			<div class="row align-items-center" style="margin-bottom:30px" style="margin-top:30px">
				<p class="btn btn-info col-xs-2 col-xs-offset-1">
					<%= link_to "商品新規登録", new_admin_product_path %></p>
				<p class="btn btn-success col-xs-2 col-xs-offset-1">
                    <%= link_to "ユーザー一覧", admin_users_path %></p>
			</div>
	</div>
</div>
<%= paginate @products, class: "paginate" %>
</body>
