<div class="container">
	<div class="row">
		<p class="record">main</p>
		<div class="col-md-10">
			<div class="row">
				<% @products.each do |product| %>
				<div class="col-md-4">
					<%= link_to admin_product_path(product.id) do %>
					<table class="table">
						<thead class="thead"></thead>
						<tbody class="tbody">
							<div class="tr-td">
								<tr>
									<%= attachment_image_tag product, :image, format: 'jpeg', fallback: "/images/no_image.jpg", size: "150x150" %>
									<td>アーティスト名</td>
									<td>
										<%= product.artists %>
									</td>
								</tr>

								<tr>
									<td>シングル/アルバム名</td>
									<td>
										<%= product.cd_title %>
									</td>
								</tr>

								<tr>
									<td>値段</td>
									<td>
										<%= product.price %>円
									</td>
								</tr>

								<tr>
									<td>在庫数</td>
									<td>
										<% product.stock %>
										<p>
											<% if product.stock == 0 then %>
											<p>売り切れ</p>
											<% else %>
											<p><%= product.stock %>個有り</p>
											<% end %>
										</p>
									</td>
								</tr>
							</div>
						</tbody>
					</table>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom:30px" >
		<div class="btn-wrapper">
			<div class="col-xs-4 col-xs-offset-1">
				<%= link_to "商品新規登録", new_admin_product_path, class: "btn btn-info btn-block" %>
			</div>
			<div class="col-xs-4 col-xs-offset-2">
				<%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-success btn-block" %>
			</div>
		</div>
	</div>
	<%= paginate @products, class: "paginate" %>
</div>