<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <%= stylesheet_link_tag "admin/products", :media => "all" %>
  <title>product_new</title>
</head>

                  <div class="container">
  <table class="product-new">
    <h2 class="product-new-title">商品新規登録</h2>
                  <div class="row">
  <!-- プロフィール画像 -->
<%= form_for(@product, url: admin_products_path) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= @product.errors.count %>件のエラーが発生しました。</h2>
    </div>
  <% end %>
       <h5 class="product-new-text text-center">Disc 1</h5>
   	<tr>
   	  <td>
       <p  class="text-right">登録枚数：  </p>
   	  </td>
   	  <td>
  <%= f.fields_for :discs do |disc| %>
    <%= disc.number_field :value %>
    <% end %>
   	  </td>
    </tr>
   <tr>
    <td>
      <p  class="text-right">ジャケット：  </p>
    </td>
    <td>
      <%= f.attachment_field :image %>
    </td>
   </tr>
   <tr>
     <td>
      <p  class="text-right">アーティスト名：  </p>
     </td>
     <td>
    <%= f.text_field :artists, class: "product_artists" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">　　　　　　シングル/アルバム名：  </p>
     </td>
     <td>
    <%= f.text_field :cd_title, class: "product_cd_title" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">　　　　　　曲数：  </p>
     </td>
     <td>
    <%= f.number_field :song_value, class: "product_song_value" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">値段：  </p>
     </td>
     <td>
    <%= f.text_field :price, class: "product_price" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">レーベル名：  </p>
     </td>
     <td>
    <%= f.text_field :label, class: "product_label" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">在庫数：  </p>
     </td>
     <td>
    <%= f.number_field :stock, class: "product_stock" %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-right">ジャンル：  </p>
     </td>
     <td>
<%= f.select(:genre, [["期間限定生産", 1], ["初回限定生産", 2], ["非売品", 3], ["イベント限定販売品", 4], ["生産終了品", 5]]) %>
     </td>
   </tr>
     <td>
   <tr>
     <td>
     </td>
     <td>
  <%= f.submit "次へ", class:"btn" %>
<% end %>
     </td>
   </tr>
  </table>
                  </div>
                  </div>

