<h2>検索結果管理側</h2>

<% @products.each do |product| %>


<table>
    <tbody>
	    <tr>
		    <td>商品名</td>
		    <td><%= user.name %></td>
	    </tr>
	    <tr>
	    	<td>アーティスト名</td>
	    	<td><%= product.artists %></td>
	    </tr>
	    <tr>
	    	<td>ジャンル</td>
	    	<td><%= product.genre %></td>
	    </tr>
	</tbody>
</table>


<label>値段</label>
<%= product.price %>

<%= product.status %>

<input type="number">

<%= link_to carts_path(@user.id), class: 'btn btn-default' do %>
<% end %>

<% end %>