
<head>
  <%= stylesheet_link_tag "admin/products", :media => "all" %>
  <title>product_show</title>
</head>

                  <div class="container">
    <h2 class="product-show-title">商品詳細</h2>
                  <div class="row">
  <table class="product-show">

   <tr>
   <td>
      <p class="text-left">ジャケット：  </p>
   </td>
   <td>
<%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
   </td>
   </tr>

   <tr>
     <td>
      <p class="text-left">アーティスト名：  </p>
     </td>
     <td>
    <%= @product.artists %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-left">シングル/アルバム名：  </p>
     </td>
     <td>
    <%= @product.cd_title %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-left">値段：  </p>
     </td>
     <td>
    <%= @product.price %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-left">レーベル名：  </p>
     </td>
     <td>
    <%= @product.label %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-left">在庫数：  </p>
     </td>
     <td>
    <%= @product.stock %>
     </td>
   </tr>
   <tr>
     <td>
      <p class="text-left">ジャンル：  </p>
     </td>
     <td>
    <%= @product.genre %>
     </td>
   </tr>
  </table>

<h4>シングル/アルバム内の曲名</h4>
    <% @product.discs.each do |disc| %>
  <table class="product-new_song">
   <tr>
     <td>
     <h5 class="text-left">　　　Disc:</h5>
     </td>
     <td>
    <%= disc.disc_num %>
     </td>
   </tr>
    <% disc.songs.each do |song| %>
	<tr>
		<td>
      <p class="text-left">トラック:</p>
	    </td>
		<td>
		    <%= song.song_track %>
		</td>
	</tr>
	<tr>
		<td>
      <p class="text-left">曲名:</p>
		</td>
		<td>
			<%= song.song_title %>
		</td>
	</tr>
    <% end %>
    <% end %>
	<tr>
		<td>
		</td>
		<td>
            < 在庫ステータスの表示 >
		</td>
	</tr>
	<tr>
        <td>
            <%= link_to "登録完了", admin_products_path %>
        </td>
        <td>
            <%= link_to "Discの追加", new_admin_product_disc_path(@product.id) %>
        </td>
	</tr>
  </table>
    </div>
   </div>