<div class="container">
	<div class="row">
		<h2>管理者用ユーザー情報</h2>

		<div class="col-md-4">
			<p><%= @user.last_name_kana %> <%= @user.first_name_kana %></p>
			<p><%= @user.last_name %> <%= @user.first_name %></p>
			<%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-default btn-success' %>
			<%= link_to "USER削除",admin_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"%>
			<%= link_to "ユーザー 一覧に戻る", admin_users_path, class: 'btn btn-default' %>
		</div>

		<div class="col-md-4">
			<h3>登録住所</h3>
			<label>電話番号 </label>
			<%= @user.phone %><br>
			<label>e-mail </label>
			<%= @user.email %><br>
			<label>〒 </label>
			<%= @user.zip %><br>
			<label>住所</label>
			<%= @user.address %>
		</div>
		<div class="col-md-4">
			<h3>配送先一覧</h3>
			<% @user.addresses.each_with_index do |user,i| %>
			<div class="row">
				<div class="col-md-12">
					<h4><%="<配送先" + "#{i+1}>" %></h4>
					<label>カナ：</label><%= user.add_last_name_kana %><%= user.add_first_name_kana %><br>
					<label>名前：</label><%= user.add_last_name %><%= user.add_first_name %><br>
					<label>〒：</label><%= user.add_zip %><br>
					<label>住所：</label><%= user.add_address %><br>
					<label>電話番号：</label><%= user.add_phone %><br>
					<%= link_to "編集", edit_admin_user_address_path(user), class: "btn btn-success" %>
					<%= link_to "削除",admin_user_address_path(user), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<h2>購入履歴</h2>
	</div>
</div>