<div class="container">
	<div class="row">
		<h2>ユーザー登録情報</h2>

		<div class="col-md-4">
			<%#= attachment_image_tag @user, :profile_image, format: 'jepg', fallback:"no.image.jpg", size: "150x150" %>
			<p><%= @user.last_name %> <%= @user.first_name %></p>
			<p><%= @user.last_name_kana %> <%= @user.first_name_kana %></p>
			<%= link_to "編集", edit_user_path(@user), class: 'btn btn-default' %>
		</div>


<p><%= @user.last_name %></p>
<p><%= @user.first_name %></p>
<%= link_to "登録情報編集", edit_user_path(@user), class: 'btn btn-default' %>


<ul>
	<li>電話番号<%= @user.phone %></li>
	<li>E-mail<%= @user.email %></li>
	<li>〒<%= @user.zip %></li>
	<li>住所<%= @user.address %></li>
</ul>

<p>配送先一覧</p>
<ul>
	<li>カナ<%= @user.last_name_kana %><%= @user.first_name_kana %></li>
	<li>名前<%= @user.last_name %><%= @user.first_name %></li>
	<li>〒<%= @user.zip %></li>
	<li>住所<%= @user.address %></li>
</ul>

<h2>購入履歴</h2>

		<div class="col-md-4">
			<% @addresses.each do |address| %>
				<ul>
					<li>電話番号 <%= address.phone %></li>
					<li>e-mail <%= @user.email %></li>
					<li>〒 <%= address.zip %></li>
					<li>住所 <%= address.address %></li>
				</ul>
		</div>
			<div class="col-md-4">
				<p>その他の登録配送先</p>
				<ul>
					<li>カナ <%= address.add_last_name_kana %><%= address.add_first_name_kana %></li>
					<li>名前 <%= address.add_last_name %><%= address.add_first_name %></li>
					<li>〒 <%= address.add_zip %></li>
					<li>住所 <%= address.add_address %></li>
				</ul>
		      <%= link_to "追加配送先の編集", edit_user_address_path(@addresses), class: "btn btn-default" %>

			<% end %>
		</div>
		<h2>購入履歴</h2>
	</div>
</div>


