<!DOCTYPE html>
<html>
  <head>
    <title>Rarerecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'fs-logo.jpg', :size =>'50x50' %>
      <div class="header-serch">
        <%= form_tag(search_products_path,:method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag '検索', :name => nil %>
        <% end %>
      </div>
      <!-- ハンバーガーアイコン -->
      <div id="sp-menu">
        <h1>menu</h1>
        <ul>
          <li><%= link_to root_path, class: 'home' do %> Home <% end %></li>
          <li><%= link_to new_user_registration_path, class: 'sign_up' do %> 新規会員登録 <% end %></li>
          <li><%= link_to new_user_session_path, class: 'sign_in' do %>ログイン<% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %> ログアウト<% end %></li>
        </ul>
      </div>

      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header>

    <%= yield %>
    <footer>
      <p>©︎2019 RareRecord inc. All Right Reserved.</p>
    </footer>
  </body>
</html>
