<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8">
    <title>Rarerecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'fs-logo.jpg', :size =>'50x50' %>

      <div class="header-search">
        <%= form_tag(search_products_path, :method => 'get') do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag '検索', :name => nil %>
        <% end %>
      </div>
      <!-- ハンバーガーアイコン -->
      <div id="sp-menu">
        <h1>menu</h1>
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to root_path, class: 'top' do %> Top <% end %></li>
          <li><%= link_to root_path, class: '' do %> マイページ <% end %></li>
          <li><%= link_to root_path, class: '' do %> カート <% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %> ログアウト<% end %></li>
          <li><%= link_to user_registration_path, method: :delete,"data-confirm" => "本当に退会しますか？", class: 'btn btn-danger btn-xs' do %> 退会 <% end %></li>

        <% elsif admin_signed_in? %>
          <li><%= link_to root_path, class: 'top' do %> Top <% end %></li>
          <li><%= link_to root_path, class: '' do %> マイページ <% end %></li>
          <li><%= link_to root_path, class: '' do %> カート <% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %> ログアウト<% end %></li>
          <li><%= link_to user_registration_path, method: :delete,"data-confirm" => "本当に退会しますか？", class: 'btn btn-danger btn-xs' do %> 退会 <% end %></li>

        <% else %>
          <li><%= link_to root_path, class: 'top' do %> Top <% end %></li>
          <li><%= link_to new_user_session_path, class: 'sign_in' do %>ログイン<% end %></li>
          <li><%= link_to new_user_registration_path, class: 'sign_up' do %> 新規会員登録 <% end %></li>
          <% end %>
        </ul>
      </div>
<%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %> ログアウト<% end %>

      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header>

    <%= yield %>
    <footer>
      <p>©︎2019 RareRecord inc. All Right Reserved.</p>
    </footer>
  </body>
</html>
