<!DOCTYPE html>
<html>
  <head>
    <title>Rarerecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="41ndePEjJqL.png">
      <div id="sp-menu">
        <h1 class="jquery">MENU</h1>
        <ul>
          <li><a href="#">MENU1</a></li>
          <li><a href="#">MENU2</a></li>
          <li><a href="#">MENU3</a></li>
          <li><a href="#">MENU4</a></li>
          <li><a href="#">MENU5</a></li>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
